<div id='user-wrapper'>
	<!-- Will change to an image tag -->
	<div id='avatar'>
	  (user image here) 
	</div>
	<div id='user-credentials'>
	  <%= user.username %> <br>
	  <%= user.reputation %> Rep
	</div>
</div>