		<%
		if user.avatar.url.nil?
			av = @default_avatar
		else
			av = user.avatar.url
		end
		%>
<div id='user-wrapper'>
	<!-- Will change to an image tag -->
	<div id='avatar'>
	  <%=image_tag(av, :class => "image_avatar")%>
	</div>
	<div id='user-credentials'>

	  <%= link_to user.username, "/profile/" + user.username %><br>
	  <%= user.reputation %> Rep
	</div>
</div>
