<h1>Listing Questions</h1>


<% @questions.each do |question| %>
  <%= render question %>
<% end %>

<br>
<% if !user_signed_in? %>
  <p>Sign in to post a question!</p>
<% else %>
  <%= link_to 'New Question', new_question_path %>
<% end %>
