<div id="container">
	<div id="question_list"><h1>Listing Questions</h1></div>
	<div id="question_query"><%=link_to "Query Interface", :controller => :questions, :action => :query%></div>
</div>

<% @questions.each do |question| %>
  <%= render question %>
<% end %>

<br>
<% if !user_signed_in? %>
  <p>Sign in to post a question!</p>
<% else %>
  <%= link_to 'New Question', new_question_path %>
<% end %>
