<!-- User notifications, display with jQuery -->
<% if user_signed_in? && !current_user.notifications.empty? %>
  <div id="notifications">
    <ul>
      <% current_user.notifications.each do |notif| %>
        <%= render notif %>
      <% end %>
    </ul>
    <%= link_to 'Done', notifications_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<% if !user_signed_in? %>
  <p>Sign in to post a question!</p>
<% else %>
  <%= link_to 'Post Question', new_question_path %>
<% end %>

<div id="qlist-header">
  <p id="list-content">Top Questions</p>
  <!-- could put tabs here to filter by tags -->
</div>

<% @questions.each do |question| %>
  <%= render question %>
<% end %>
