<!-- Should display all questions returned from the search action in question controller -->

<br><br>
<div id="s-header">
	Search Content: "<%= @content %>"
</div>
<br><br><br>
<div id="search-content">
	<% if @foundqs.size > 0 %>
	<% @foundqs.each do |q| %>
	<%= render "question", question:  q%>
	<% end %>
	<% end %>
</div>
