/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
	height: 100%;
	margin: 0px;
	min-width: 1100px;
	padding: 0px;
	background-color: white;
}

#header {
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin: 0px;
	background-color: black;
}

span#root-link {
	display: block;
	float: left;
	font-size: 12px;
	height: inherit;
	width: 45%;
	padding-left: 30px;
}

#header a {
	display: inline-block;
	height: inherit;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	text-decoration: none;
}

#root-link a:hover {
	background-color: gray;
}

#welcome-message {
	display: block;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	float: left;
	color: white;
}

span#header-buttons {
	display: inline-block;
	height: inherit;
	width: 45%;
	font-size: 12px;
	float: right;
}

span#header-buttons input[type=submit] {
	border: none;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	height: 35px;
	color: white;
	background: black;
}

#header-buttons input[type=submit]:hover {
	background-color: gray;
	cursor: pointer;
	cursor: hand;
}

#notifications {
	min-height: 100px;
	height: auto;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#content {
	min-height: 100%;
	height: auto;
	width: 80%;
	margin: auto;
}

/*
User rendering here
*/

#user-wrapper {
	width: 200px;
	height: 80px;
	padding: 2px;
}

#avatar {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	float: left;
}

.image_avatar {
	width: inherit;
	height: inherit;
	text-align: center;
	float: left;
}

#user-credentials {
	float: left;
	text-align: left;
	padding-left: 10px;
}

#user-credentials a {
	color: #00A6CF; 
	text-decoration: none;
}

#user-credentials a:hover {
	color: #00CCFF;
    background: none;
}