// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Popup styling

#notifications {
	width: 500px;
	min-width: 500px;
	min-height: 15%;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
	background-color: white;
	padding: 25px;
	font-size: 14px;
	position: fixed;
	top: 100px;
	left: 50%;
	margin-left: -275px;
	display: none;
}