// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Question index styling
#qlist-header {
	width: 100%;
}

p#list-content {
	display: block;
	width: 45%;
	float: left;
	font-size: 18px;
}

// Single tag styling
#tag {
	height: 20px;
	width: auto;
	margin-right: 5px;
	margin-left: 5px;
	padding: 3px;
	background-color: #B2D3E8;
	float: left;
	text-align: center;
	color: #006BB2;
}

// Question entry styling
#question-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

	span, div { 
		display: block;
		float: left;
		margin-left: 3px;
		margin-right: 3px;
	}
}

#question-upvotes, #question-answers {
	width: 8%;
	height: 100%;
	text-align: center;
	font-size: 12px;
	padding: auto;
}

#title-tags-wrap {
	width: 70%;
	height: 100%;
}

#question-title {
	width: 100%;
	text-align: left;
	font-size: 15px;
	margin-bottom: 5px;
	a { 
		color: #00A6CF; 
		text-decoration: none;
	}

	a:hover {
    	color: #00CCFF;
    	background: none;
	}
}

#question-tags {
	width: 60%;
	height: 25px;
}

#question-author {
	width: 25%;
	height: 25px;
	float: right;
}

// Show question styline
#qtitle {
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 25px;
}

#qcontent-wrapper {
	width: 100%;
	min-height: 100px;
	height: auto;
	overflow: auto;

	div { float: left; }
}

#qupvotes {
	width: 8%;
	height: 10%;
	text-align: center;
	font-size: 15px;
	padding: auto;
}

#question-content {
	width: 80%;
	padding-left: 10px;
	font-size: 14px;
}

#qtags {
	margin-left: 9%;
	margin-top: 5%;
	clear: both;
}

#quser {
	float: right;
	width: 20%;
	text-align: right;
}

hr#clear-both {
	clear: both;
}
