// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Question index styling
p#question-list-header {
	display: block;
	float: left;
}

// Single tag styling
#tag {
	height: 35px;
	width: auto;
	background-color: #F5C4C4;
	border-radius: 5px;
	float: left;
	text-align: center;
	line-height: 30px;
	margin: 5px;
}

// Question entry styling
#question-wrapper {
	width: 100%;
	min-height: 90px;
	height: auto;
	overflow: auto;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;

	span, div { 
		float: left;
		margin-left: 5px;
		margin-right: 5px;
	}
}

#question-upvotes, #question-answers {
	width: 10%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
	padding: auto;
}

#title-tags-wrap {
	width: 70%;
	height: 100%;
	//border: 1px solid black;
}

#question-title {
	width: 100%;
	text-align: left;
	font-size: 15px;
	margin-bottom: 20px;
	a { 
		color: #00A6CF; 
		text-decoration: none;
	}

	a:hover {
    	color: #00CCFF;
    	background: none;
	}
}

#question-tags {
	width: 60%;
}

#question-author {
	width: 25%;
	height: 100%;
	text-align: right;
}

#container
{
	width: 100%;	
}

#question_list {
	float: left;
}

#question_query {
	float: right;
}
