<h1>Editing Answer</h1>

<!-- Render question for user to reference -->
<%= render @question %>
<div id="question-content">
	<br>
  <%= @question.content %>
</div>

<hr>

<%= render 'form' %>

<%= link_to 'Back', @question %>
